:root {
    font-size: 16px;
    --colorYellow: rgb(244, 208, 78);
    --colorGray950: rgb(17, 17, 17);
    --colorGray500: rgb(107, 107, 107);
    --colorWhite: rgb(255, 255, 255);
}

/* fuentes estaticas */

@font-face {
    font-family: "Figtree";
    src:
        url("../assets/font/Figtree-Medium.woff2") format("woff2"),
        url("../assets/font/Figtree-Medium.woff") format("woff"),
        url("../assets/font/Figtree-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src:
        url("../assets/font/Figtree-ExtraBold.woff2") format("woff2"),
        url("../assets/font/Figtree-ExtraBold.woff") format("woff"),
        url("../assets/font/Figtree-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

body {
    background: var(--colorYellow);
    font-family: "Figtree";
}



